* {
  font-family: "Gill Sans", sans-serif;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.input {
  display: flex;
  align-items: center;
}

.justabutton {
  appearance: none;
  background-color: white;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #1e1e1e;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 2px;
  padding: 10px 20px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: 100px; */
  will-change: transform;
}

.justabutton:disabled {
  pointer-events: none;
}

.justabutton:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.justabutton:active {
  box-shadow: none;
  transform: translateY(0);
}

#forwardBackwardDiv {
  display: flex;
  flex-direction: column;
}

#status {
  padding: 0px 20px;
  font-size: 20px;
}
